<div id="topSection" class="headline-background scroll-anchor">
  <div class="flex-container pad-section filter headline-filter">
    <div class="title-pg-cont">
      <header>
        <div class="main-header">
          <h1>The Compadre</h1>
          <p>Slow-jammin' the news. One topic at a time. Ya' Welcome.</p>
        </div>
      </header>

      <div class="nl-signup">
        <h2>Because you need another newsletter...</h2>

        <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
        <% end %>

        <%= form_tag({controller: 'newsletters', action: 'create'},
        method: 'post', id: 'newsletter-form', remote: true) do %>
          <%= email_field_tag :email, nil, required: true, placeholder: 'email' %>
          <%= button_tag "Subscribe", id: 'nl-subscribe-btn', data: { disable_with: "subscribing..." } %>
        <% end %>
      </div>

      <div class="flex-container scroll-cont">
        <script src="https://use.fontawesome.com/593f05305f.js"></script>
        <p>a little more detail...</p>
        <i id="scroll-down" class="fa fa-caret-down fa-3x"></i>
      </div>
    </div>
  </div>
</div>

<div id="bottomSection" class="content-background scroll-anchor">
  <div class="pad-section filter content-filter flex-container flex-dir-col">
    <div class="flex-container scroll-cont scroll-cont-up">
      <script src="https://use.fontawesome.com/593f05305f.js"></script>
      <i id="scroll-up" class="fa fa-caret-up fa-3x"></i>
      <p>go back up and subscribe :)</p>
    </div>

    <div class="content-body">
      <p>
        Ever feel like the news is yelling at you?  Well, we did. And we can’t say we love it. Unlike the peaceful, majestic feelings these background pictures offer, the news makes us feel tired. Tons of angles, opinions, analysis, and commentary yet we don’t feel more informed, just a little more confused and overloaded.
      </p>
      <p>
        Enter: The Compadre. Each Tuesday and Thursday we send out an easily digestible email breaking down one topic in the news. What’s qualified us to determine which topic to help explain? Nothing, except maybe arrogance and some time on our hands. Anywhoo, just read and enjoy. When all the questions you have while reading the news start to go away (because we are answering them) you can send us a sappy “you’ve-changed-my-life, thank-you-thank-you-thank-you” email and we’ll celebrate good times, c’mon.
      </p>
    </div>
  </div>
</div>
